<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
       rel="stylesheet"
       href=""
       integrity=""
       crossorigin=""
    />
    <link
        rel="stylesheet"
        href=""
        integrity=""
        crossorigin=""
     />

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse"
            data-target="#navbar" 
            >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="landingpage" href="/">Welcome</a>
                <a class="nav-item nav-link" id="login" href="/login">login</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                <a class="nav-item nav-link" id="Home" href="/Home">Home</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Log Out</a>
            </div>

        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
     {% for category, message in messages%}
     <!-- errors get_flashed_messages-->
     {% if category == 'error'%}
     <div class="" role="">
         {{ message }}
         <button type="button" class="close" data-dismiss="alert">
             <span aria-hidden="true">&times;</span>
         </button>
     </div>
     {% else %}
     <div class="" role="">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert"  >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
     {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container"></div>
    {% block content %}
    {% endblock %}


    

    <!--this is  where the javascript of the bootstrap goes-->
    <script
        type="text/javascript"
        src="../static/index.js"
    ></script>
    
</body>
</html>